/* Asignaturas.css */

/* Estilos para el contenedor principal */
.contenedor-alumnos {
    text-align: center;
    margin: 20px;
    margin-left: 250px; /* Ajusta el valor según sea necesario */
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Estilos para las celdas de la tabla */
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilos para la fila de encabezado */
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos adicionales según sea necesario */
  .modal-paper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Ajusta el ancho según tus necesidades */
    padding: 20px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px 24px 0 0 #000;
    outline: none;
  }