body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden; 
}

.login-contenedor {    
    flex-direction: column;    
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 800px;    
    margin: 10% auto;
    position: relative; 
    z-index: 1; 
    background-color: #fff; 
    line-height: 3;
    margin-top: 400px;
}

.fondo-celeste {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%; 
    height: 100%;
    background-color: #2E5ED2; 
    z-index: 0; 
}

.titulo-Sistema{
    margin-left:250px;
}

.titulo-Iniciar{
    margin-left:315px;
}

.lbl-correo{
    margin-left: 200px;
}

.lbl-contrasena{
    margin-left:200px;
}

.campo-correo{
    margin-left:50px;
}

.campo-contrasena{
    margin-left:100px;
}


.btn-IniciarSesion {
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  margin-left:350px;
}

.text-danger{
    margin-left: 325px; 
    margin-top: -10px;
    color:red;

}


