.logo{
    margin-left:1800px;
    margin-top:100px;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden; 
}

.login-contenedor {    
    justify-content: space-between; 
    align-items: center;
    padding: 10px;    
    max-width: 80%;
    margin: 10% auto;    
    position: relative; 
    z-index: 1;     
    line-height: 3;
    display: flex;            
    flex-direction: column;
    gap: 80px;
    flex-direction: row;
}

.fondo-celeste {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%; 
    height: 100%;
    background-color: #2E5ED2; 
    z-index: 0; 
}

.titulo-Sistema {
    margin-left: 250px;
}

.titulo-Iniciar {
    margin-left: 315px;
}

.lbl-correo {
    margin-left: 200px;
}

.lbl-contrasena {
    margin-left: 200px;
}

.campo-correo {
    margin-left: 50px;
}

.campo-contrasena {
    margin-left: 100px;
}

.btn-IniciarSesion {
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
    margin-left: 350px;
}

.text-danger {
    margin-left: 325px; 
    margin-top: -10px;
    color: red;
}

.contenedor-horizontal {
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff; 
    max-width: 800px;
}

.box-contenedor {
    width: 800px;
    margin: 10px;
}

.contenedor-principal{
    display:flex;
    
}

.titulo-LoginPrincipal{
margin-left:900px;
margin-top:200px;
font-family:Arial, Helvetica, sans-serif;
color: red;
text-transform: uppercase;
}

.contenedor-estudiante{
    margin-top:-110px;
    margin-left:1500px;
}

.contenedor-profesor{
    margin-top:250px;
    margin-left:750px;
}

.titulo-profesores button {
    background-color: #4CAF50; 
    color: white; 
    margin-left: 10px;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }

  .titulo-profesores button:hover {
    background-color: #45a049; /* Color ligeramente más oscuro para el efecto de sombreado */
}
  
  .titulo-estudiante button {
    background-color: #4CAF50; 
    color: white; 
    margin-left: 20px;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }

  .titulo-estudiante button:hover {
    background-color: #45a049; /* Color ligeramente más oscuro para el efecto de sombreado */
}
